.game-selection-container {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
  }

  .searchBar {
    width: 90%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    margin: 10px auto 20px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .searchBar::placeholder {
    color: #999;
  }  
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #2a9d8f;
    margin-bottom: 20px;
  }
  
  /* Video Grid */
.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two videos per row */
  gap: 20px; /* Space between grid items */
  width: 90%;
  max-width: 1200px;
  margin: 20px auto; /* Center the grid on the page */
  padding: 10px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.video-container p {
  margin-top: 10px;
  font-size: 1rem;
  color: #d0c6c6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Responsive Design: Single-column layout on smaller screens */
@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr; /* One video per row */
  }
}

  
  .game-item {
    width: 200px;
    background-color: #020202;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
  }
  
  .game-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .game-price {
    font-size: 16px;
    color: #333;
  }
  
  .game-time_slot {
    font-size: 14px;
    color: #333;
  }
  
  .quantity-input {
    width: 100%;
    max-width: 80px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #b9abab;
    text-align: center;
    margin-top: 10px;
  }
  /* Mobile responsiveness */
  @media (max-width: 768px) {
  .quantity-input {
    max-width: 100%;
    font-size: 18px;
  }

  
  .checkout-button {
    width: 100%;
    max-width: 200px;
    background-color: #2a9d8f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
    .checkout-button:hover {
      background-color: #218838;
    }
  }
  